@model Assessment_5.Models.CustOrder
@{

}

<form method="POST" action="/Home/Review">
    <h2>Thank you for your purchase!</h2>
    <h4>Order #</h4>
    <br />
     
    <h4>@Model.Drink</h4>
    <br>

    <h4>@Model.Size</h4>
    <br>

    <h4>@Model.Collect</h4>
    <br>

    <h4>@Model.Time</h4>

</form>